extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jared Gain

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello! My name is Jared Gain. Thanks so much for visiting my project-portfolio website. After graduating with my Bachelor's degree in Computer Information Systems, I've spent the last 3 years 
            | developing into a technical support engineer. I have a background in Projramming and Business Analytics with about 4 years of experience in programming support for bank software.
            | I'm avid about creating web applications, and am eager to move into a software developer role. I have strong problem solving skills, and am able to adapt to fast-paced working environments.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5
          li CSS3
          li Javascript
          li jQuery
          li Node.js
          li Express Web App
          li Pug/Templating 
          li Ajax
          li Fetch API
          li GitBash
          li NPM
        h6 Contact Info

        ul
          li 636-544-4463
          li jlgain7@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jared-gain-5a4935a5' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jlg2263' target='_blank') GitHub
        a.button.expanded(href='https://www.facebook.com/jared.gain' target='_blank') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  