extends layout

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← GO TO HOMEPAGE
        h1(style="color: royalblue; text-align:center")= error.message
        h2(style="color: royalblue; text-align:center")= error.status
        pre= error.stack